[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
Django = "~=3.0"
djangorestframework = "~=3.11"
django-hashid-field = "~=3.1"
six = "*"
drf-jwt = "~=1.16"
pytest-faker = "*"
django-environ = "*"
django-allow-cidr = "*"
django-hosts = "*"

[dev-packages]
factory_boy = "==2.12.0"
pytest = "==5.4.1"
pytest-factoryboy = "~=2.0"
pytest-django = "~=3.9"
django-rest-swagger = "*"

[requires]
python_version = "3.7"
